.CodeMirror {
  border-radius: 15px;
}

.CodeMirror-vscrollbar {
  right: 10px !important;
}

.react-codemirror2.error .CodeMirror {
  background-color: #FFEEF8;
  border: 3px solid #CE596A;
}

/*
TODO adjust codemirror design similar to figma
.CodeMirror-line {
  margin: 4px !important;
  color: #00636C !important;
  line-height: 25px !important;
}

.Step2-line .CodeMirror-line {
  border-bottom: 1px solid #D1E4E6 !important;
}

.CodeMirror-linenumber {
  line-height: 25px !important;
}
 */

