.CodeMirror {
  border-radius: 15px;
  font-size: 16px !important;
  line-height: 2 !important;
}

.CodeMirror-vscrollbar {
  right: 10px !important;
}

.react-codemirror2.error .CodeMirror {
  background-color: #FFEEF8;
  border: 3px solid #CE596A;
}

.CodeMirror-line {
  padding: 0 8px !important;
}

.Step2-line .CodeMirror-line {
  border-bottom: 1px solid #D1E4E6 !important;
}
